/* Layout.css */
.layout {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Evitar rolagem desnecessária no layout */
}

.sidebar {
    width: 250px; /* Largura da sidebar */
    background-color: #00796b; /* Cor de fundo da sidebar */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixar a sidebar na lateral */
    top: 0;
    left: 0;
    height: 100%; /* Garantir que a sidebar ocupe toda a altura da tela */
    overflow-y: auto; /* Permitir rolagem se necessário */
    z-index: 1000; /* Garantir que a sidebar fique sobre outros elementos */
}

.content {
    margin-left: 250px; /* Margem esquerda igual à largura da sidebar */
    padding: 20px;
    background-color: #e0f7fa;
    height: 100vh; /* Garantir que o conteúdo ocupe toda a altura da tela */
    overflow-y: auto; /* Permitir rolagem se o conteúdo for grande */
    box-sizing: border-box;
}
