/* src/components/Layout.css */
.layout-container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
}

.sidebar {
    width: 240px; /* Largura quando maximizada */
    transition: width 0.3s; /* Transição suave para a largura */
}

.sidebar.minimized {
    width: 60px; /* Largura quando minimizada */
}

.content {
    flex-grow: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
    padding: 16px; /* Espaçamento interno */
    overflow-y: auto; /* Permite rolar o conteúdo verticalmente se necessário */
    transition: margin-left 0.3s; /* Transição suave para margem */
    background-color: #f5f5f5; /* Cor de fundo */
}

.sidebar.minimized ~ .content {
    margin-left: 60px; /* Alinhamento do conteúdo quando a Sidebar está minimizada */
}
