/* src/components/Sidebar/Sidebar.css */
.sidebar {
    width: 240px; /* Largura quando maximizada */
    flex-shrink: 0; /* Não permite que a Sidebar encolha */
    height: 100vh; /* Altura total da tela */
    transition: width 0.3s; /* Transição suave para a largura */
    background-color: #333; /* Cor de fundo da Sidebar */
}

.sidebar.minimized {
    width: 60px; /* Largura quando minimizada */
}

.sidebar .content {
    margin-left: 0; /* Alinhamento do conteúdo quando a Sidebar está maximizada */
}

.sidebar.minimized .content {
    margin-left: auto; /* Centraliza o conteúdo quando a Sidebar está minimizada */
}
